<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBL_OFLhgrW4Aa2V4Y6pIVb64iDo56ktEY</string>
	<key>GCM_SENDER_ID</key>
	<string>529505025227</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.logisticsnow.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>logistics-now-306cb</string>
	<key>STORAGE_BUCKET</key>
	<string>logistics-now-306cb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:529505025227:ios:938d376f4855e40763ef4e</string>
	<key>DATABASE_URL</key>
	<string>https://logistics-now-306cb-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>